*{
    margin: 0%;
    padding: 0%;

}
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#header{
    width: 100%;
    height: 8vh;
    background-color: #fd6569;
    padding: 10px;
}

#container{
 margin: 20px;
 display: flex;
 flex-direction: row;
 gap: 30px;
}

.book-container{
     padding: 20px;
     width: 20%;
     height: 30%;
     background-color: black;
     color: white;
     border-radius: 20px;
     display: flex;
    flex-direction: column;
    gap: 15px;
    
    
}

.book-container button{
    background-color: #fd6569;
    border-radius: 5px;
    padding: 2px;
    border: none;
    margin-top: 10px;
    

}
#addbutton{
    background-color: #fd6569;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-weight: 800;
    border: none;
    position: fixed;
    right:70px;
    bottom: 50px;
    cursor: pointer;
}

#popup-overlay{
    background-color: black;
     opacity: 0.8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: none;
}

#popup-box{
    background-color: #fd6569;
    width: 300px;
    height: 200px;
    z-index: 2;
    position: absolute;
    top:30%;
    left: 40%;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    display: none;
    
    
}


#book-title , #book-author
{
    background-color: #fd6569;
    margin: 5px;
    border: none;
    border-bottom: 2px solid black;
    width: 95%;
    height: 10px;
    margin: 10px;
    height: 20px;
    
    
}

#description{
    background-color: #fd6569;
    margin: 5px;
    border: 2px black solid;
    margin: 10px;
    width: 95%;
    height: 50px;
}

#popup-box input::placeholder{
    color: black;
}

#popup-box button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin: 5px;
}

#popup-box input:focus{
    outline: 0cap;
}


